.venv
.vscode
.idea
Image preprocessing/Gcode to image conversion/__pycache__
Videos/tempo_x2.mp4
Videos/trybA.mp4
Videos/trybB.mp4
Videos/trybC.mp4
Videos/zwykle_tempo.mp4
Videos/Rezultaty/Rezultaty_normalne_tempo.mp4
Videos/z aparatu/_DSC0333.NEF
Videos/z aparatu/_DSC0335.NEF
Videos/z aparatu/_DSC0336.MOV
Videos/z aparatu/_DSC0340.NEF
Videos/z aparatu/_DSC0343.NEF
Videos/z aparatu/_DSC0343.xmp
Videos/z aparatu/_DSC0346.NEF
Videos/z aparatu/_DSC0346.xmp
Videos/z aparatu/_DSC0350.NEF
Videos/z aparatu/_DSC0354.NEF
Videos/z aparatu/_DSC0354.xmp
Videos/z aparatu/_DSC0356.NEF
Videos/z aparatu/_DSC0361.NEF
Videos/z aparatu/_DSC0361.xmp
Videos/z aparatu/_DSC0363.MOV
Videos/z aparatu/_DSC0364.NEF
Videos/z aparatu/_DSC0368.NEF
Videos/z aparatu/_DSC0375.NEF
Videos/z aparatu/_DSC0376.NEF
Videos/z aparatu/_DSC0376.xmp
Videos/z aparatu/_DSC0378.NEF
Videos/z aparatu/_DSC0380.NEF
Videos/z aparatu/_DSC0380.xmp
Videos/z aparatu/_DSC0383.NEF
Videos/z aparatu/_DSC0384.NEF
Videos/z aparatu/_DSC0387.NEF
Videos/z aparatu/_DSC0388.NEF
Videos/z aparatu/_DSC0389.NEF
Videos/z aparatu/_DSC0392.NEF
Videos/z aparatu/_DSC0393.NEF
Videos/z aparatu/_DSC0397.NEF
Videos/z aparatu/_DSC0397.xmp
Videos/Rezultaty/_DSC0336.mp4
Image preprocessing/Gcode to image conversion/__pycache__/centroid.cpython-311.pyc
Image preprocessing/Gcode to image conversion/__pycache__/gcode_analize.cpython-311.pyc
/.idea/codeStyles/codeStyleConfig.xml
/Image preprocessing/Gcode to image conversion/element_details.csv
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-10-13_12_41_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-10-13_12_41__Changes_.xml
/.idea/workspace.xml
Image preprocessing/Gcode to image conversion/CV_program_photos/Additional_hole_test

